* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    height: 100%; /* Garante que a altura do documento seja considerada */
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('../imagem/pexels-anete-lusina-16513604.jpg'); /* Define a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-size: 100%; /* Faz com que a imagem cubra todo o fundo */
    background-attachment: fixed;
    background-position: center; /* Centraliza a imagem no fundo */
    background-position-y: -550px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 0;
    min-height: 100%;
    position: relative;
}

.header {
    

    display: flex;
    justify-content: space-between; /* Espaço entre as divs laterais */
    align-items: center; /* Alinha os itens verticalmente */
    position: fixed; /* Torna o header o contêiner para posicionamento absoluto */
    background-color: rgb(50, 37, 169);
    padding: 25px 30px;
    color: #fff;
    width: 100%;
    height:83px;
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
}



.logo {
    position: absolute; /* Remove do fluxo normal */
    left: 50%; /* Move o centro da div para o meio do header */
    transform: translateX(-50%); /* Ajusta para que o centro da div seja o ponto de alinhamento */
    text-align: center; /* Centraliza o conteúdo dentro da div */
}

.logo a {
    text-decoration:none;
}

.logo h1 {
    font-size: 20px;
    margin: 0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.logo img {
    width: 100px;
    height: auto;
    display: block; /* Garante o comportamento previsível */
    margin: 0 auto;
    
}

.logo a h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color:#fff;
}


.sobre a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color:#fff;
}

.sobre a:hover{
    color: #ddd;
}

.menu-icon {
    font-size: 25px;
    cursor: pointer;
}

.menu-icon:hover{
    color: #ddd;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Oculta a barra lateral fora da tela */
    width: 250px;
    height: 100%;
    background-color:rgb(32, 7, 132, 0.8);
    color: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;

}

.sidebar.open {
    left: 0; /* Move a barra lateral para dentro da tela */
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: #ddd;
}

.foto_perfil{
    width: 90px; /* Define a largura da imagem */


}

main {
    padding: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    
}

main h1{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    text-align: center;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(31, 65, 177); /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 20px; /* Tamanho da fonte */
    cursor: pointer; /* Mostra a "mãozinha" ao passar o mouse */
    transition: background-color 0.3s; /* Animação suave ao passar o mouse */
   
}

button:hover {
    background-color: #090342; /* Cor de fundo ao passar o mouse */
}

  /* Estilo ao clicar */
button:active {
    background-color: #100553;
}

.gerarSenha {
    background-color: rgb(31, 65, 177); /* Cor de fundo */
    font-size: 16px; /* Tamanho da fonte */
   
}

.gerarSenha:hover{
    background-color:#090342; /* Cor de fundo ao passar o mouse */
}
.salvarbutton {
    background-color: rgb(15, 190, 30);
}

.salvarbutton:hover {
    background-color: green;
}

.entrarbutton{
    background-color: rgb(15, 190, 30);
}

.entrarbutton:hover {
    background-color: green;
}

label {
    margin-top: 25px;
    display: flex;
    margin-left: 10%; /* Espaçamento entre label e input */
    text-shadow: 3px 3px 5px rgb(32, 30, 30);
}

.inputForm {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 85%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    margin: 10px 0; /* Espaço externo */
    border: 2px solid #ccc; /* Borda */
    border-radius: 50px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding na largura total */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transições suaves */
    box-shadow: 1px 1px 4px #000;
}

.inputForm:focus {
    border-color: #564caf; /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgba(5, 137, 214, 0.5); /* Sombra ao focar */
    outline: none; /* Remove o contorno padrão */
}

.inputForm::placeholder {
    color: #aaa; /* Cor do texto placeholder */
    font-style: italic; /* Estilo do texto placeholder */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputsenha {
    position: relative;
    width: 100%; /* Ajusta a largura da div */
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    outline: none;
    
}

#icon {
    position: absolute;
    top: 50%;
    right: 60px;
    height: 30px;
    width: 30px;
    transform: translateY(-50%);
    background: url('../imagem/eye.png');
    background-size:cover;
    cursor: pointer;
    padding: 10px 10px;
}

#icon.hide{
    background: url('../imagem/hiddeneye.png');
    background-size:cover;
}



#formCad{
    background-color: rgba(69, 68, 77, 0.5);
    transform: translateX(50%); 
    width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 8px; /* Opcional: adiciona bordas arredondadas */
    box-shadow: 4px 4px 4px #333333ce;
}

#formLogin{
    background-color: rgba(69, 68, 77, 0.5);
    transform: translateX(50%); 
    width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 8px; /* Opcional: adiciona bordas arredondadas */
    box-shadow: 4px 4px 4px #333333ce;
}



#login {
    margin-top: 80px;
}

.cadastro {
    margin-top: 80px;
}

#btnTopo {


    position: fixed; /* Fixa o botão na tela */
    bottom: 20px; /* Distância da parte inferior */
    right: 20px; /* Distância da parte direita */
    background-color: #007BFF; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 50%; /* Forma redonda */
    width: 50px; /* Largura */
    height: 50px; /* Altura */
    padding: 10px 15px;
    font-size: 24px; /* Tamanho da seta */
    cursor: pointer; /* Cursor de mão ao passar */
    display: none; /* Inicialmente escondido */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    box-shadow: 1px 1px 4px #000;
    transition: opacity 0.3s ease; /* Efeito suave */
}

/* Efeito hover no botão */
#btnTopo:hover {
    background-color: #0056b3;
}

footer {
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1px 0;
}

