<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Gym - Administrador</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../imagem/logo - Copia.png" type="image/png">

</head>
<body>
    <script src="../js/main.js"></script>
    <!-- Cabeçalho com o ícone de menu -->
    <header class="header">
        <div class="menu-icon" onclick="toggleMenu()"> <!-- Ícone de três barras -->
            &#9776; <!-- HTML code for three bars (hamburger icon) -->
        </div>
       <br>
        <div class="logo">
            <a href="#inicio"><img src="../imagem/logo.png" alt="logo">
            <h1>ENERGY GYM</h1>
            </a>
        </div>
        <br>
        <div class="sobre">
            <a href="#sobre">SOBRE NÓS</a>
        </div>
        
    </header>

    <!-- Menu lateral -->
    <nav class="sidebar" id="sidebar">
        
        <ul>
            <li><img class="foto_perfil" src="../imagem/pngegg.png" alt="foto_perfil">
                <p></p>
                    <br>
                    <a href="#perfil">Meu Perfil</a>
                    <li><a href="#aulas">Aulas</a></li>
                    <li><a href="#avaliacoes">Avaliações Físicas</a></li>
                    <li><a href="#freq">Frequência</a></li>
                    <li><a href="#pagamento">Pagamento</a></li>
                    <li><a href="#sair">Sair</a></li>
        </ul>
    </nav>

    <!-- Conteúdo principal da página -->
    <main>
        <div class="cadastro">
            <h1>Área do Adminstrador</h1>
            <br>

            <form id="formCad" action="#" onsubmit="return false;">
                
                
            </form>
        </div>
        <button id="btnTopo" onclick="voltarAoTopo()">↑</button>
    </main>

</body>
</html>
