<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="E:\Informática para Internet\Desenvolvimento Web I\projeto_energy_gym\Energy-Gym\css\style.css">
    <link rel="icon" href="E:\Informática para Internet\Desenvolvimento Web I\projeto_energy_gym\Energy-Gym\imagem\logo - Copia.png" type="image/png">

</head>
<body>
    <script src="E:\Informática para Internet\Desenvolvimento Web I\projeto_energy_gym\Energy-Gym\js\main.js"></script>
    <!-- Cabeçalho com o ícone de menu -->
    <header class="header">
        <div class="menu-icon" onclick="toggleMenu()"> <!-- Ícone de três barras -->
            &#9776; <!-- HTML code for three bars (hamburger icon) -->
        </div>
       <br>
        <div class="logo">
            <a href="#inicio"><img src="E:\Informática para Internet\Desenvolvimento Web I\projeto_energy_gym\Energy-Gym\imagem\logo.png" alt="logo">
            <h1>ENERGY GYM</h1>
            </a>
        </div>
        <br>
        <div class="sobre">
            <a href="#sobre">SOBRE NÓS</a>
        </div>
        
    </header>

    <!-- Menu lateral -->
    <nav class="sidebar" id="sidebar">
        
        <ul>
            <li><img class="foto_perfil" src="E:\Informática para Internet\Desenvolvimento Web I\projeto_energy_gym\Energy-Gym\imagem\pngegg.png" alt="foto_perfil">
                <p></p>
                    <br>
                    <a href="#perfil">Meu Perfil</a></li>
            <li><a href="#aulas">Aulas</a></li>
            <li><a href="#avaliacoes">Avaliações Físicas</a></li>
            <li><a href="#freq">Frequência</a></li>
            <li><a href="#pagamento">Pagamento</a></li>
            <li><a href="#sair">Sair</a></li>
        </ul>
    </nav>

    <!-- Conteúdo principal da página -->
    <main>
        <div class="cadastro">
            <h1>Cadastro</h1>
            <br>

            <form id="formulario" action="#" onsubmit="return false;">

                <label class="nomecompleto" for="nomeUsuario">Nome completo:</label> 
                <input type="text" id="nomeUsuario" placeholder="Digite o nome"> 
                <label class="email" for="emailUsuario">E-mail:</label> 
                <input type="text" id="emailUsuario" placeholder="Digite o email">
                <label class="nasc" for="nascUsuario">Data de nascimento:</label> 
                <input type="date" id="nascUsuario">
                <label class="senha" for="senhaUsuario">Gerar senha do usuário:</label> 
                <input type="text" id="senhaUsuario" placeholder="Gerar senha" readonly="">
                <button class="gerarSenha" onclick="getPassword()">Gerar senha do usuário</button>
                
                <p></p><br>
                <button onclick="salvarValor()">Salvar</button>
                <button onclick="recuperarValor()">Vizualizar dados salvos</button>
                
            </form>
        </div>
    </main>

</body>
</html>
