<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Gym - Início</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../imagem/raio.png" type="image/png">

</head>
<body>
    <script src="../js/main.js"></script>
    <!-- Cabeçalho com o ícone de menu -->
    <header class="header">
        <div class="menu-icon" onclick="toggleMenu()"> <!-- Ícone de três barras -->
            &#9776; <!-- HTML code for three bars (hamburger icon) -->
        </div>
       <br>
        <div class="logo">
            <a href="../view/iniciousuario.html"><img src="../imagem/logo.png" alt="logo">
            <h1>ENERGY GYM</h1>
            </a>
        </div>
        <br>
        <div class="sobre">
            <a href="#sobre">QUEM SOMOS</a>
        </div>
        
    </header>

    <!-- Menu lateral -->
    <nav class="sidebar" id="sidebar">
        
        <ul>
            <li><img class="foto_perfil" src="../imagem/pngegg.png" alt="foto_perfil">
                <p></p>
                    <br>
                    <a href="../view/meuperfil.html">Meu Perfil</a>
                    <li><a href="#aulas">Aulas</a></li>
                    <li><a href="#avaliacoes">Avaliações Físicas</a></li>
                    <li><a href="#freq">Frequência</a></li>
                    <li><a href="#pagamento">Pagamento</a></li>
                    <li><a href="../view/loginusuario.html">Sair</a></li>
        </ul>
    </nav>

    <!-- Conteúdo principal da página -->
    <main>
        <div class="iniciousuario">
            <h1 id="olainicio">Olá,__________!</h1>
            <br>
            <div id="treinos">
                <h2>Treino A</h2> <br>
                <br>
                <br>

                <h2>Treino B</h2> <br>
                <br>
                <br>
                
                <h2>Treino C</h2> <br>
                <br>
                <br>
                

            </div>
           
            <button id="btnTopo" onclick="voltarAoTopo()">↑</button>
        </div>
        
    </main>
    <footer>
        <p>&copy; 2024 Energy Gym. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
